:root {
    --primary-color: #6200ee;
    --image-border: #332b31;
}

/* Mobile */
@media (max-width: 600px) {
    :root {
        --image-gap: 15px;
    }

    .titleBar {
        justify-content: space-around;
    }

    body {
        margin: 20px;
    }

    .gallery img {
        max-width: 100%; /* Fill the screen width minus padding */
    }
}
/* Desktop */
@media (min-width: 601px) {
    :root {
        --image-gap: 20px;
    }

    .titleBar {
        justify-content: center;
        margin-bottom: 10px;
        gap: 15px;
    }

    .gallery img {
        max-width: 400px; /* Fill the screen width minus padding */
    }

    /* Image hover effect */
    .gallery img:hover {
        transform: scale(1.1); /* Slight zoom-in effect */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Add shadow for depth */
    }

    /* Button hover effect */
    button:hover {
        background-color: #3700b3; /* Darker purple */
    }
}

.titleBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: DynaPuff, Courier New, sans-serif;
}

.titleBar * {
    align-self: center;
}

.titleName {
    margin: 0;
}

/* General body styles for dark mode */
body {
    font-family: Arial, sans-serif;
    margin: var(--image-gap);
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text */
}

/* Gallery layout */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--image-gap);
    justify-content: center; /* Center images */
}

/* Image styles - default (desktop view) */
.gallery img {
    display: block;
    width: 100%; /* Allow flexibility */
    height: auto;
    border-radius: 5px;
    border: 2px solid var(--image-border); /* White border */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
    box-sizing: border-box;
}

/* Upload status message */
#uploadStatus {
    margin-bottom: 10px;
    font-weight: bold;

    /* horizontally center */
    display: flex;
    justify-content: center;
}

/* Success message - green */
#uploadStatus.success {
    color: #4caf50; /* Green */
}

/* Error message - red */
#uploadStatus.error {
    color: #ff6b6b; /* Red */
}

/* File input button styles */
button {
    padding: 10px 15px;
    margin: 0;
    background-color: var(--primary-color); /* Purple button */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}